@(title: String)(content: Html)


<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=640">
        <title>@title</title>
        <meta name="author" content="Yokohama Motomachi Shopping Street Association" />
        <meta name="robots" content="index,follow">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" id='contact-form-7-css' media="all" type="text/css" href="@routes.Assets.at("style.css")">
        <link rel="icon" type="image/vnd.microsoft.icon" href="@routes.Assets.at("motomachi.ico")" />
        <link rel='stylesheet' id='bxs-css-css'  href="@routes.Assets.at("css/bxs/jquery.bxslider.css")" type='text/css' media='all' />
        <link rel='stylesheet' id='style-css-css'  href="@routes.Assets.at("style.css")" type='text/css' media='all' />
        <link rel='stylesheet' id='add-style-css-css'  href="@routes.Assets.at("add-style.css")" type='text/css' media='all' />

        <link rel="start" href="index.html" />

        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>

        <script type='text/javascript' src="@routes.Assets.at("js/jquery/jquery.js")"></script>
        <script type='text/javascript' src="@routes.Assets.at("js/jquery/jquery-migrate.min.js")"></script>
        <script type='text/javascript' src="@routes.Assets.at("js/jquery-1.8.3.min.js")"></script>
        <script type='text/javascript' src="@routes.Assets.at("js/jquery.easing.1.3.js")"></script>
        <script type='text/javascript' src="@routes.Assets.at("js/heightLine.js")"></script>
        <script type='text/javascript' src="@routes.Assets.at("js/jquery.cookie.js")"></script>
        <script type='text/javascript' src="@routes.Assets.at("js/smartRollover.js")"></script>
        <script type='text/javascript' src="@routes.Assets.at("js/jquery.bxslider.min.js")"></script>
        <script type='text/javascript' src="@routes.Assets.at("js/common.js")"></script>

            <!-- All in One SEO Pack 2.1.7 by Michael Torbert of Semper Fi Web Design[113,135] -->
        <meta name="description" content="元町ショッピングストリートでは、横浜元町のオリジナリティあるスタイルを配信しています。" />

        <meta name="keywords" content="元町,横浜,ショッピングストリート,motomachi,yokohama" />

        <link rel="canonical" href="index.html" />
            <!-- /all in one seo pack -->
        <meta property="og:title" content="横浜元町ショッピングストリート" />
        <meta property="og:site_name" content="横浜元町ショッピングストリート" />
        <meta property="og:type" content="blog" />
        <meta property="og:url" content="/" />
        <style>.simplemap img{max-width:none !important;padding:0 !important;margin:0 !important;}.staticmap,.staticmap img{max-width:100% !important;height:auto !important;}</style>

        <script type="text/javascript">
        $('head').append('<style type="text/css">body{visibility:hidden;}</style>');
        </script>

            <!--[if lt IE 9]>
              <script src="/Users/shiraishikeigo/hello-e/public/js/html5shiv.js"></script>
              <script src="/Users/shiraishikeigo/hello-e/public/js/respond.min.js"></script>
            <![endif]-->
        <script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
        <noscript>
            <div style="display:inline;">
                <img height="1" width="1" style="border-style:none;" alt="" src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/970057698/?value=0&guid=ON&script=0"/>
            </div>
        </noscript>
    </head>

    <body id="index">
            <!-- Google Tag Manager -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KB9C7Z"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KB9C7Z');</script>
            <!-- End Google Tag Manager -->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&appId=704767632916150&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
            <!-- container -->
        <div id="container">

                <!-- header -->
            <header id="top">
                <div class="area_1">
                    <div class="center_area">
                        <p>語学学習支援と現地での生活を確立するための情報を提供します</p>
                        <ul>
                            <li class="li_1"><a href="index.html">
                                <img src="@routes.Assets.at("img/header/home_off.gif")" class="on" alt="Home">
                            </a></li>
                            <li class="li_2"><a href="https://fofa.jp/motomss/a.p/101/">
                                <img src="@routes.Assets.at("img/header/mail_off.gif")" class="off" alt="Mail Magazine">
                            </a></li>
                            <li class="li_3"><a href="../../../Desktop/www.motomachi.or.jp/sitemap.html">
                                <img src="@routes.Assets.at("img/header/sitemap_off.gif")" class="off" alt="Site Map">
                            </a></li>
                            <li class="li_4">
                                <img src="@routes.Assets.at("img/header/txt_size.gif")" alt="文字サイズ"></li>
                            <li class="li_5">
                                <img src="@routes.Assets.at("img/header/btn_size_s_1.gif")" alt="S" class="hand on">
                                <img src="@routes.Assets.at("img/header/btn_size_s_2.gif")" alt="S" class="hand off">
                            </li>
                            <li class="li_6">
                                <img src="@routes.Assets.at("img/header/btn_size_l_1.gif")" alt="L" class="hand on">
                                <img src="@routes.Assets.at("img/header/btn_size_l_2.gif")" alt="L" class="hand off">
                            </li>
                        </ul>
                        <br class="clear">
                    </div>
                </div>
                <div class="area_2">
                    <div class="center_area">
                        <div class="logo"><a href="index.html">
                            <img src="@routes.Assets.at("img/header/logo_1.jpg")" alt="YOKOHAMA MOTOMACHI Shopping Street" class="logo_1">

                        </a></div>
                        <div class="btn">
                            <img src="@routes.Assets.at("img/header/btn_menu.gif")" alt="Menu" class="menu">
                            <img src="@routes.Assets.at("img/header/btn_close.gif")" alt="Close" class="close">
                        </div>
                        <br class="clear">
                        <div class="accordion">
                            <nav>
                                <ul>
                                    <li class="li_1"><a href="">
                                        ダミーのようですよ。
                                    </a></li>
                                    <li class="li_2"><a id="test" href="index.scala.html">
                                        <p>リスニング</p>
                                    </a></li>
                                    <li class="li_3"><a href="/">
                                        <p>スピーキング</p>
                                    </a></li>
                                    <li class="li_4"><a href="../../../Desktop/www.motomachi.or.jp/navi.html">
                                        <p>ライティング</p>
                                    </a></li>
                                     <li class="li_6"><a href="../../../Desktop/www.motomachi.or.jp/history/index.html" target="_blank">
                                        <p>リーディング</p>
                                    </a></li>
                                    <li class="li_6"><a href="../../../Desktop/www.motomachi.or.jp/history/index.html" target="_blank">
                                        <p>ライフスタイル</p>
                                    </a></li>
                                    <li class="li_7 clear"></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="kakure">
                            <p>スライドサンプルです</p>
                            <br class="clear">
                        </div>
                    </div>
                </div>
                <div class="area_3">
                    <div class="center_area">
                        <div class="breadcrumbs">
                                <!-- Breadcrumb NavXT 5.1.0 -->
                            <span typeof="v:Breadcrumb"><span property="v:title">トップページ</span></span>      </div>
                    </div>
                </div>
            </header>
                <!-- /header -->

                <!-- contents -->
            <div id="contents">
                <div class="center_area">
                    <div id="main_visual_pc">
                        <ul class="bxslider">
                            <li><img src="@routes.Assets.at("img/index/slide_pc_1.jpg")" alt=""></li>
                            <li><img src="@routes.Assets.at("img/index/slide_pc_2.jpg")" alt=""></li>
                            <li><img src="@routes.Assets.at("img/index/slide_pc_3.jpg")" alt=""></li>
                        </ul>
                    </div>

                    <div id="main_visual_sp">
                        <ul class="bxslider">
                            <li><img src="/Users/shiraishikeigo/hello-e/public/img/index/slide_sp_1.jpg" alt=""></li>
                                <!-- <li><a href="xxx"><img src="/Users/shiraishikeigo/hello-e/public/img/index/slide_sp_2.jpg" alt=""></a></li> -->
                            <li><a href="../../../Desktop/www.motomachi.or.jp/charming/index.html" target="_blank"><img src="/Users/shiraishikeigo/hello-e/public/img/index/slide_sp_6.jpg" alt=""></a></li>
                            <li><a href="http://www.motomachi-cs.com/cm/news/1078" target="_blank"><img src="/Users/shiraishikeigo/hello-e/public/img/index/slide_sp_5.jpg" alt=""></a></li>
                            <li><a href="../../../Desktop/www.motomachi.or.jp/special1.html"><img src="/Users/shiraishikeigo/hello-e/public/img/index/slide_sp_3.jpg" alt=""></a></li>
                            <li><a href="../../../Desktop/www.motomachi.or.jp/special16.html"><img src="/Users/shiraishikeigo/hello-e/public/img/index/slide_sp_4.jpg" alt=""></a></li>
                        </ul>
                    </div>

                    <div class="copy_area">
                         <img src="@routes.Assets.at("img/index/copy.png")" alt="元町ショッピングストリート">
                    </div>

                    <div class="banner_area">
                        <ul>
                            <li class="li_1"><a href="../../../Desktop/www.motomachi.or.jp/charming/index.html" target="_blank">
                                <img src="/Users/shiraishikeigo/hello-e/public/img/banner/event_1.jpg" class="b_1" alt="envet">
                                <img src="/Users/shiraishikeigo/hello-e/public/img/banner/event_2.jpg" class="b_2" alt="event">
                            </a></li>
                            <li class="li_1"><a href="http://www.motomachi-cs.com/cm/news/1078" target="_blank">
                                <img src="/Users/shiraishikeigo/hello-e/public/img/banner/event2_1.jpg" class="b_1" alt="envet">
                                <img src="/Users/shiraishikeigo/hello-e/public/img/banner/event2_2.jpg" class="b_2" alt="event">
                            </a></li>
                            <li class="li_2 left"><a href="../../../Desktop/www.motomachi.or.jp/special1.html">
                                <img src="/Users/shiraishikeigo/hello-e/public/img/banner/special1_1.jpg" class="b_1" alt="特集1">
                                <img src="/Users/shiraishikeigo/hello-e/public/img/banner/special1_2.jpg" class="b_2" alt="特集1">
                            </a></li>
                            <li class="li_3 right"><a href="../../../Desktop/www.motomachi.or.jp/special16.html">
                                <img src="/Users/shiraishikeigo/hello-e/public/img/banner/special2_1.jpg" class="b_1" alt="特集2">
                                <img src="/Users/shiraishikeigo/hello-e/public/img/banner/special2_2.jpg" class="b_2" alt="特集2">
                            </a></li>
                            <li class="clear"></li>
                        </ul>
                    </div>
                    <div class="pickup_area">
                        <h2><img src="/Users/shiraishikeigo/hello-e/public/img/index/t_s_pickup.gif" alt="Pick up MOTOMACHI"></h2>
                        <ul>
                            <li class="li_1"><a href="../../../Desktop/www.motomachi.or.jp/navi/cafe-sp.html">
                                <div class="img">
                                    <img src="/Users/shiraishikeigo/hello-e/public/img/index/pickup_1_1.jpg" alt="女子会にぴったり！ とっておきの元町カフェ"></div>
                                <div class="text">
                                    <img src="/Users/shiraishikeigo/hello-e/public/img/index/pickup_1_2.png" alt="女子会にぴったり！ とっておきの元町カフェ"></div>
                                <p>女子会にぴったり！ とっておきの元町カフェ</p>
                            </a></li>
                            <li class="li_2"><a href="../../../Desktop/www.motomachi.or.jp/navi/pet-trip.html">
                                <div class="img">
                                    <img src="/Users/shiraishikeigo/hello-e/public/img/index/pickup_2_1.jpg" alt="ペットと行く、癒しの元町プチ・トリップ"></div>
                                <div class="text">
                                    <img src="/Users/shiraishikeigo/hello-e/public/img/index/pickup_2_2.png" alt="ペットと行く、癒しの元町プチ・トリップ"></div>
                                <p>ペットと行く、癒しの元町プチ・トリップ</p>
                            </a></li>
                            <li class="li_3"><a href="../../../Desktop/www.motomachi.or.jp/navi/poppetstown.html">
                                <div class="img">
                                    <img src="/Users/shiraishikeigo/hello-e/public/img/index/pickup_3_1.jpg" alt="授乳・オムツ換え専用車両「ポペッツタウン号」"></div>
                                <div class="text">
                                    <img src="/Users/shiraishikeigo/hello-e/public/img/index/pickup_3_2.png" alt="授乳・オムツ換え専用車両「ポペッツタウン号」"></div>
                                <p>授乳・オムツ換え専用車両「ポペッツタウン号」</p>
                            </a></li>
                            <li class="clear"></li>
                        </ul>
                    </div>

                    <div class="search_area">
                        <p class="title hand">
                            <img src="@routes.Assets.at("img/search_bar/t_search_1.png")" class="t_1" alt="店舗検索">
                            <img src="@routes.Assets.at("img/search_bar/t_search_2.png")" class="t_2" alt="店舗検索">
                            <img src="@routes.Assets.at("img/search_bar/arrow_r.png")" class="t_3" alt="店舗検索">
                        </p>
                        <div class="accordion">
                            <div class="area_1">
                                <p class="sub_title"><img src="@routes.Assets.at("img/search_bar/t_s_category.png")" alt="category-search"></p>
                                <ul>
                                    <li class="li_1">
                                        <a href="../../../Desktop/www.motomachi.or.jp/shop-info/category-search-cate=1-cate=1.html">
                                            <img src="/Users/shiraishikeigo/hello-e/public/img/search_bar/i_fashion_1.png" alt="ファッション">
                                            <img src="/Users/shiraishikeigo/hello-e/public/img/search_bar/i_fashion_2.png" alt="ファッション">
                                        </a></li>
                                    <li class="li_2">
                                        <a href="../../../Desktop/www.motomachi.or.jp/shop-info/category-search-cate=2-cate=2.html">
                                            <img src="/Users/shiraishikeigo/hello-e/public/img/search_bar/i_bag_1.png" alt="バッグ・シューズ">
                                            <img src="/Users/shiraishikeigo/hello-e/public/img/search_bar/i_bag_2.png" alt="バッグ・シューズ">
                                        </a></li>
                                    <li class="li_3">
                                        <a href="../../../Desktop/www.motomachi.or.jp/shop-info/category-search-cate=3-cate=3.html">
                                            <img src="/Users/shiraishikeigo/hello-e/public/img/search_bar/i_jewelry_1.png" alt="貴金属・時計・メガネ">
                                            <img src="/Users/shiraishikeigo/hello-e/public/img/search_bar/i_jewelry_2.png" alt="貴金属・時計・メガネ">
                                        </a></li>
                                    <li class="li_4">
                                        <a href="../../../Desktop/www.motomachi.or.jp/shop-info/category-search-cate=4-cate=4.html">
                                            <img src="/Users/shiraishikeigo/hello-e/public/img/search_bar/i_barber_1.png" alt="美容室・理容室">
                                            <img src="/Users/shiraishikeigo/hello-e/public/img/search_bar/i_barber_2.png" alt="美容室・理容室">
                                        </a></li>
                                    <li class="li_5">
                                        <a href="../../../Desktop/www.motomachi.or.jp/shop-info/category-search-cate=5-cate=5.html">
                                            <img src="/Users/shiraishikeigo/hello-e/public/img/search_bar/i_restaurant_1.png" alt="レストラン・バー・喫茶">
                                            <img src="/Users/shiraishikeigo/hello-e/public/img/search_bar/i_restaurant_2.png" alt="レストラン・バー・喫茶">
                                        </a></li>
                                    <li class="li_6">
                                        <a href="../../../Desktop/www.motomachi.or.jp/shop-info/category-search-cate=6-cate=6.html">
                                            <img src="/Users/shiraishikeigo/hello-e/public/img/search_bar/i_goods_1.png" alt="雑貨・ホビー・スポーツ">
                                            <img src="/Users/shiraishikeigo/hello-e/public/img/search_bar/i_goods_2.png" alt="雑貨・ホビー・スポーツ">
                                        </a></li>
                                    <li class="li_7">
                                        <a href="../../../Desktop/www.motomachi.or.jp/shop-info/category-search-cate=7-cate=7.html">
                                            <img src="/Users/shiraishikeigo/hello-e/public/img/search_bar/i_furniture_1.png" alt="家具・食器・美術品">
                                            <img src="/Users/shiraishikeigo/hello-e/public/img/search_bar/i_furniture_2.png" alt="家具・食器・美術品">
                                        </a></li>
                                    <li class="li_8">
                                        <a href="../../../Desktop/www.motomachi.or.jp/shop-info/category-search-cate=8-cate=8.html">
                                            <img src="/Users/shiraishikeigo/hello-e/public/img/search_bar/i_medical_1.png" alt="日用品・医療・化粧品">
                                            <img src="/Users/shiraishikeigo/hello-e/public/img/search_bar/i_medical_2.png" alt="日用品・医療・化粧品">
                                        </a></li>
                                    <li class="li_9">
                                        <a href="../../../Desktop/www.motomachi.or.jp/shop-info/category-search-cate=9-cate=9.html">
                                            <img src="/Users/shiraishikeigo/hello-e/public/img/search_bar/i_food_1.png" alt="食料品">
                                            <img src="/Users/shiraishikeigo/hello-e/public/img/search_bar/i_food_2.png" alt="食料品">
                                        </a></li>
                                    <li class="li_12">
                                        <a href="../../../Desktop/www.motomachi.or.jp/shop-info/category-search-cate=12-cate=12.html">
                                            <img src="/Users/shiraishikeigo/hello-e/public/img/search_bar/i_pet_1.png" alt="ペットバー">
                                            <img src="/Users/shiraishikeigo/hello-e/public/img/search_bar/i_pet_2.png" alt="ペットバー">
                                        </a></li>
                                    <li class="li_11">
                                        <a href="../../../Desktop/www.motomachi.or.jp/shop-info/category-search-cate=11-cate=11.html">
                                            <img src="/Users/shiraishikeigo/hello-e/public/img/search_bar/i_parking_1.png" alt="駐車場">
                                            <img src="/Users/shiraishikeigo/hello-e/public/img/search_bar/i_parking_2.png" alt="駐車場">
                                        </a></li>
                                    <li class="li_10">
                                        <a href="../../../Desktop/www.motomachi.or.jp/shop-info/category-search-cate=10-cate=10.html">
                                            <img src="/Users/shiraishikeigo/hello-e/public/img/search_bar/i_other_1.png" alt="その他">
                                            <img src="/Users/shiraishikeigo/hello-e/public/img/search_bar/i_other_2.png" alt="その他">
                                        </a></li>
                                    <li class="clear"></li>
                                </ul>
                            </div>
                            <div class="area_2">
                                <p class="sub_title"><img src="/Users/shiraishikeigo/hello-e/public/img/search_bar/t_s_map.png" alt="地図から探す"></p>
                                <a href="../../../Desktop/www.motomachi.or.jp/shop-info/map-search.html">
                                    <img src="/Users/shiraishikeigo/hello-e/public/img/search_bar/btn_map.png" alt="地図から探す">
                                </a>
                            </div>
                            <div class="area_3">
                                <p class="sub_title"><img src="/Users/shiraishikeigo/hello-e/public/img/search_bar/t_s_freeword.png" alt="フリーワードから探す"></p>
                                <div>
                                    <form action="/shop-info/words-search.html" method="post">
                                        <input type="text" name="keyword" maxlength="1000" placeholder="フリーワード検索" class="f_txt" />
                                        <input type="image" src="/Users/shiraishikeigo/hello-e/public/img/search_bar/btn_search.png" class="f_img" />
                                        <br class="clear">
                                    </form>
                                </div>
                            </div>
                            <br class="clear">
                        </div>
                    </div>
                    <div class="event_area">
                        <h2><img src="/Users/shiraishikeigo/hello-e/public/img/index/t_s_event.gif" alt="イベント＆ニュース"></h2>
                            <!--<div class="link"><a href="/event-info">一覧ページへ</a></div>-->
                        <dl>
                            <dt><a href="/Users/shiraishikeigo/hello-e/public/pdf/press/charming_2014.pdf" target="_blank">
      2014.08.20<img src="/Users/shiraishikeigo/hello-e/public/img/index/icon_news.gif" alt="NEWS"></a></dt>
                            <dd><a href="/Users/shiraishikeigo/hello-e/public/pdf/press/charming_2014.pdf" target="_blank">
      「元町チャーミングセール！2014秋開催」リリースを掲載しました。</a></dd>
                            <dt><a href="../../../Desktop/www.motomachi.or.jp/charming/index.html" target="_blank">
      2014.08.20<img src="/Users/shiraishikeigo/hello-e/public/img/index/icon_event.gif" alt="EVENT"></a></dt>
                            <dd><a href="../../../Desktop/www.motomachi.or.jp/charming/index.html" target="_blank">
      「チャーミングセール」のイベント情報を追加しました。</a></dd>
                            <dt><a href="../../../Desktop/www.motomachi.or.jp/special16.html">
      2014.08.18<img src="/Users/shiraishikeigo/hello-e/public/img/index/icon_news.gif" alt="NEWS"></a></dt>
                            <dd><a href="../../../Desktop/www.motomachi.or.jp/special16.html">
      ボディケア特集を公開いたしました。</a></dd>
                            <dt><a href="../../../Desktop/www.motomachi.or.jp/special1.html">
      2014.08.01<img src="/Users/shiraishikeigo/hello-e/public/img/index/icon_news.gif" alt="NEWS"></a></dt>
                            <dd><a href="../../../Desktop/www.motomachi.or.jp/special1.html">
      夏の清涼グルメ特集を公開いたしました。</a></dd>
                            <dt><a href="http://www.motomachi-cs.com/cm/news/1078" target="_blank">
      2014.07.24<img src="/Users/shiraishikeigo/hello-e/public/img/index/icon_event.gif" alt="EVENT"></a></dt>
                            <dd><a href="http://www.motomachi-cs.com/cm/news/1078" target="_blank">
      「復興支援・一戸産直夕市―元町レ・アール」のイベント情報を追加しました。</a></dd>
                            <dt><a href="../../../Desktop/www.motomachi.or.jp/event/motomachi-itsukushima.html">
      2014.07.22<img src="/Users/shiraishikeigo/hello-e/public/img/index/icon_event.gif" alt="EVENT"></a></dt>
                            <dd><a href="../../../Desktop/www.motomachi.or.jp/event/motomachi-itsukushima.html">
      「元町厳島神社夏まつり」のイベント情報を追加しました。</a></dd>
                            <dt>
      2014.07.01<img src="/Users/shiraishikeigo/hello-e/public/img/index/icon_news.gif" alt="NEWS"></dt>
                            <dd>
      元町公式HPをリニューアル致しました。</dd>
                        </dl>
                    </div>

                    <div class="shop_area">
                        <h2><img src="/Users/shiraishikeigo/hello-e/public/img/index/t_s_shop.gif" alt=""></h2>


                        <div class="box"><a class="heightLine-1" href="shop/ゴディバ横浜元町店.html">
                            <div class="main_img"><img src="../../../Desktop/www.motomachi.or.jp/wp-content/uploads/2014/07/godiva.jpg" alt=""></div>
                            <div class="cat"><img src="/Users/shiraishikeigo/hello-e/public/img/search_bar/i_food_1.png" class="i_1" alt="食料品"></div>
                            <p class="thumb">ＧＯＤＩＶＡ</p>
                            <p class="name">ゴディバ横浜元町店</p>
                            <div class="explan">『ラッピングチョコレート』リニューアル新発売／「ラッピングチョコレート」はひと口サイズの粒チョコレートをカラフルで華やかに一つ一つラッピングしたチョコレートです。今回、パッケージを全面リニューアルし、さらに3種類のラッピングチョコレートを詰め合わせた「ラッピングチョコレート トリュフ アソートメント」が初登場します。　「ラッピングチョコレート」には、なめらかなヘーゼルナッツプラリネをミルクチョコレートでコーティングした「ラッピングチョコレート トリュフ ミルク ヘーゼルナッツ」が定番として初登場。また、「ラッピングチョコレート トリュフ アソートメント」は、様々なフレーバーをお楽しみいただけるアソートメントとして今回2種類が初登場します。　身近な方へのちょっとしたお礼やご挨拶、ご自身へのごほうびに『ラッピングチョコレート』をぜひご利用ください。</div>
                            <div class="link">ショップ詳細へ</div>
                        </a></div>


                        <div class="box"><a class="heightLine-1" href="shop/タルボット横浜元町店.html">
                            <div class="main_img"><img src="../../../Desktop/www.motomachi.or.jp/wp-content/uploads/2014/07/topshop_tarubot1.jpg" alt=""></div>
                            <div class="cat"><img src="/Users/shiraishikeigo/hello-e/public/img/search_bar/i_fashion_1.png" class="i_1" alt="ファッション"></div>
                            <p class="thumb">大人のチャーミングライフ</p>
                            <p class="name">タルボット横浜元町</p>
                            <div class="explan">ブランドコンセプトは大人のチャーミングライフ。ライフスタイルを通しておしゃれを楽しむチャーミングな大人の女性に向け、毎日を楽しく過ごすためのファッションを提案いたします。　★トランジッションセール　8/29(金)～9/7(日)　夏物に加えてジャストシーズンで着られる晩夏商品がいち早くお買い得になります。　★ファイナルセール　8/8(金)～8/31(日)　ファイナルセールではセール商品が最大70％ＯＦＦと大変お買い得でございます。最後のチャンス、ぜひこの機会をご利用下さい。　★新規納品　29日(金)　まだまだ暑い夏、一足先に秋のお洒落をお楽しみいただける夏素材のワンピース、ブラウスやスカートなどの新作が入荷致します。　当日タルボットカードにご入会いただいたお客さま、表示価格より5％OFF。　皆さまのご来店心よりお待ちしております。　営業時間　10：00～20：00</div>
                            <div class="link">ショップ詳細へ</div>
                        </a></div>

                        <br class="clear" />

                        <div class="box"><a class="heightLine-2" href="shop/サマンサタバサ横浜元町GATES店.html">
                            <div class="main_img"><img src="../../../Desktop/www.motomachi.or.jp/wp-content/uploads/2014/07/SAMANTHA-THAVASA6.jpg" alt=""></div>
                            <div class="cat"><img src="/Users/shiraishikeigo/hello-e/public/img/search_bar/i_bag_1.png" class="i_1" alt="バッグ・シューズ"></div>
                            <p class="thumb">バッグ・小物</p>
                            <p class="name">サマンサタバサ 横浜元町GATES店</p>
                            <div class="explan">20周年アニバーサリー第6弾❤9月キャンペーン／いつもサマンサタバサをご愛顧いただきありがとうございます。　サマンサタバサジャパンリミテッド社設立20周年を記念し、お客様へ日頃の感謝の気持ちをこめて、スペシャルキャンペーンを開催致します。　9月1日（月）、10日（水）・20日（土）限定で、全国の対象店舗にて、税込15,000円以上お買い上げのお客様に先着でサマンサタバサの大人気シリーズ「アゼル」のミニミニチャームをプレゼントいたします。牛革を使用したミニミニチャームは、全国合計10,000名様限定です。　第6弾の9月は、やさしい色合いのパステルカラー“ラベンダー”♪　おしゃれなウィンターパステル“ラベンダー”のミニミニアゼルで秋のファッションを思いっきり楽しんでみませんか？❤　ぜひこの機会にSHOPへお越しください。　皆様のご来店を心よりお待ちしております。　※数量限定となっておりますので、予めご了承ください。</div>
                            <div class="link">ショップ詳細へ</div>
                        </a></div>


                        <div class="box"><a class="heightLine-2" href="shop/ポンパドウル元町本店.html">
                            <div class="main_img"><img src="../../../Desktop/www.motomachi.or.jp/wp-content/uploads/2014/08/pompadour.jpg" alt=""></div>
                            <div class="cat"><img src="/Users/shiraishikeigo/hello-e/public/img/search_bar/i_food_1.png" class="i_1" alt="食料品"><img src="/Users/shiraishikeigo/hello-e/public/img/search_bar/i_restaurant_1.png" class="i_1" alt="レストラン・バー・喫茶店"></div>
                            <p class="thumb">いつも焼き立ての美味しいパンを</p>
                            <p class="name">ポンパドウル元町本店</p>
                            <div class="explan">今年の十五夜　中秋の名月は9月8日（月）です／日本の秋の行事といえば、お月見です。ポンパドウルでは、お月見をイメージしたパンとして黄味あんパンを9月1日（月）より発売いたします。卵黄を 使って練りあげた上品な甘さの餡をソフトな生地で包みました。黄味あんぱん 税込￥162</div>
                            <div class="link">ショップ詳細へ</div>
                        </a></div>

                        <br class="clear" />

                        <div class="accordion">

                            <div class="box"><a class="heightLine-3" href="../../../Desktop/www.motomachi.or.jp/shop/ｇap.html">
                                <div class="main_img"><img src="../../../Desktop/www.motomachi.or.jp/wp-content/uploads/2014/06/item_1060_1.jpg" alt=""></div>
                                <div class="cat"><img src="/Users/shiraishikeigo/hello-e/public/img/search_bar/i_fashion_1.png" class="i_1" alt="ファッション"></div>
                                <p class="thumb">ファッション</p>
                                <p class="name">Gap</p>
                                <div class="explan">Gap／GapKids 定価商品が2点以上でレジにて30%OFF　Gap／GapKids元町店では、8月19日（火）から9月1日（月）の期間中、ウィメンズ・メンズ・キッズ・ベビーの定価商品2点以上で30%OFFになるイベントを開催しております。これからの季節にぴったりな商品をお得にお買い求めいただけるチャンスです。新学期の準備などに是非ご活用ください。この機会にGap/Gapkids元町店にご来店へご来店くださいませ。　Memberだけの特典をお見逃しなく！　※イベント内容は期間中に変更となる可能性がございます。　※1部、対象外商品がございます。　詳しくはストアスタッフにお問い合わせください。　最新アイテム情報は、Gapウェブサイトをご覧ください。</div>
                                <div class="link">ショップ詳細へ</div>
                            </a></div>


                            <div class="box"><a class="heightLine-3" href="../../../Desktop/www.motomachi.or.jp/shop/silverohno.html">
                                <div class="main_img"><img src="../../../Desktop/www.motomachi.or.jp/wp-content/uploads/2014/06/SILVER_OHNO1.jpg" alt=""></div>
                                <div class="cat"><img src="/Users/shiraishikeigo/hello-e/public/img/search_bar/i_jewelry_1.png" class="i_1" alt="貴金属・時計・眼鏡"><img src="/Users/shiraishikeigo/hello-e/public/img/search_bar/i_furniture_1.png" class="i_1" alt="家具・食器・美術品"><img src="/Users/shiraishikeigo/hello-e/public/img/search_bar/i_fashion_1.png" class="i_1" alt="ファッション"></div>
                                <p class="thumb">贈りものには人気の銀製品を！</p>
                                <p class="name">SILVER OHNO</p>
                                <div class="explan">◆◇　チャーミングセール　特別割引商品　◇◆　／　＊淡い色づかいの淡水パールアクセサリー　●ネックレス(80cm)，(40cm+ｱｼﾞｬｽﾀｰ5cm)　●ブレスレット、イヤリング、ピアスもありますので、お揃いでお付けできます。　●素材：銀製(silver925)　●変色防止加工が施されていますので、お手入れの必要はありません。　※どれも、チャーミング中は特別価格で販売致します。　皆様のご来店を心よりお待ちしております。</div>
                                <div class="link">ショップ詳細へ</div>
                            </a></div>

                            <br class="clear" />

                            <div class="box"><a class="heightLine-4" href="../../../Desktop/www.motomachi.or.jp/shop/近沢レース店元町本店.html">
                                <div class="main_img"><img src="../../../Desktop/www.motomachi.or.jp/wp-content/uploads/2014/08/chikazawa_lace.jpg" alt=""></div>
                                <div class="cat"><img src="/Users/shiraishikeigo/hello-e/public/img/search_bar/i_goods_1.png" class="i_1" alt="雑貨・ホビー・スポーツ"><img src="/Users/shiraishikeigo/hello-e/public/img/search_bar/i_bag_1.png" class="i_1" alt="バッグ・シューズ"></div>
                                <p class="thumb">夢とゆとりをお届けします</p>
                                <p class="name">近沢レース店元町本店</p>
                                <div class="explan">Mignon（ミニヨン）シリーズ／新作の定番小物がようやく出来上がりました。ラメ刺繍の入ったオーガンジーレースはハートもちりばめた上品な仕上がり。日常生活から、ご旅行時まで幅広いシーンでどうぞ！　・ミニティッシュポーチ￥2,300（税込）　・アクセサリーケース￥2,300（税込）　・マルチケース￥3,500（税込）　・トートバッグ￥3,600（税込）</div>
                                <div class="link">ショップ詳細へ</div>
                            </a></div>


                            <div class="box"><a class="heightLine-4" href="shop/エルティア（hama婚元町セントポールチャペル）.html">
                                <div class="main_img"><img src="../../../Desktop/www.motomachi.or.jp/wp-content/uploads/2014/07/eltia01.jpg" alt=""></div>
                                <div class="cat"><img src="/Users/shiraishikeigo/hello-e/public/img/search_bar/i_other_1.png" class="i_1" alt="その他"></div>
                                <p class="thumb">横浜で結婚式をしよう!!</p>
                                <p class="name">エルティア（hama婚元町セントポールチャペル）</p>
                                <div class="explan">【元町セントポールチャペル】２０１４年オータムプラン（9.10.11月挙式）挙式+会食のお申込みで　③大特典プレゼント！　①ご列席用挙式前控え室料　②結婚証明書　③会食用衣裳50％ｏｆｆ総額￥63,000相当【hama婚】　30名以上の挙式・披露宴のお申込みで A カラードレスレンタル料（30名以上のパーティー） B スナップ撮影+アルバム、もしくはＤＶＤ撮影　プレゼント！！</div>
                                <div class="link">ショップ詳細へ</div>
                            </a></div>

                            <br class="clear" />
                        </div>

                        <div class="btn hand">
                            <img src="/Users/shiraishikeigo/hello-e/public/img/index/btn_more.gif" alt="もっと見る">
                        </div>

                    </div>
                    <div class="fb_area">
                        <div class="fb-like-box" data-href="https://www.facebook.com/pages/%E6%A8%AA%E6%B5%9C%E5%85%83%E7%94%BA%E3%82%B7%E3%83%A7%E3%83%83%E3%83%94%E3%83%B3%E3%82%B0%E3%82%B9%E3%83%88%E3%83%AA%E3%83%BC%E3%83%88/404235849696034" data-width="600" data-height="540" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="true" data-show-border="false"></div>
                    </div>

                    <div class="mail_area">
                        <div class="mail"><a>ログイン情報</a></div>
                    </div>
                    <br class="clear">

                </div>
                <div class="footer_banner_area">
                    <div class="center_area">
                        <ul>
                            <li class="li_1"><a href="../../../Desktop/www.motomachi.or.jp/about/rule-book.html">
                                <img src="/Users/shiraishikeigo/hello-e/public/img/footer/rule_1.jpg" alt="元町まちづくり 公式ルールブック">
                                <img src="/Users/shiraishikeigo/hello-e/public/img/footer/rule_2.gif" alt="元町まちづくり 公式ルールブック">
                            </a></li>
                            <li class="li_2"><a href="http://www.motomachi-cs.com/index.html" target="_blank">
                                <img src="/Users/shiraishikeigo/hello-e/public/img/footer/craft_1.jpg" alt="CRAFTSMANSHIP STREETS MOTOMACHI">
                                <img src="/Users/shiraishikeigo/hello-e/public/img/footer/craft_2.gif" alt="CRAFTSMANSHIP STREETS MOTOMACHI">
                            </a></li>
                            <li class="li_3"><a href="http://www.welcome.city.yokohama.jp/ja/" target="_blank">
                                <img src="/Users/shiraishikeigo/hello-e/public/img/footer/yokohama_1.jpg" alt="ヨコハマ情報満載！横浜観光情報サイト">
                                <img src="/Users/shiraishikeigo/hello-e/public/img/footer/yokohama_2.gif" alt="ヨコハマ情報満載！横浜観光情報サイト">
                            </a></li>
                            <li class="li_4"><a href="http://www.mm21railway.co.jp/" target="_blank">
                                <img src="/Users/shiraishikeigo/hello-e/public/img/footer/minato_1.gif" alt="みなとみらい線">
                                <img src="/Users/shiraishikeigo/hello-e/public/img/footer/minato_2.gif" alt="みなとみらい線">
                            </a></li>
                            <li class="clear"></li>
                        </ul>
                    </div>
                </div></div>
                <!-- /contents -->

                <!-- footer -->
            <footer>
                <div class="area_2">
                    <a href="index.html" class="left">HOME</a>
                    <a href="index.html#top" class="right">PAGE TOP</a>
                    <br class="clear">
                </div>
                <div class="area_3">
                    <div class="center_area">
                        <div class="logo"><a href="index.html">
                            <img src="/Users/shiraishikeigo/hello-e/public/img/footer/logo.png" alt="YOKOHAMA MOTOMACHI Shopping Street">
                        </a></div>
                        <ul>
                            <li class="li_1"><a href="../../../Desktop/www.motomachi.or.jp/inquiry.html">お問い合わせ</a></li>
                            <li class="li_2"><a href="../../../Desktop/www.motomachi.or.jp/privacy-policy.html">プライバシーポリシー</a></li>
                            <li class="li_3"><a href="../../../Desktop/www.motomachi.or.jp/about.html">元町について</a></li>
                            <li class="li_4"><a href="../../../Desktop/www.motomachi.or.jp/press-release.html">プレス・リリース</a></li>
                            <li class="li_5"><a href="../../../Desktop/www.motomachi.or.jp/site.html">当サイトについて</a></li>
                            <li class="li_6"><a href="../../../Desktop/www.motomachi.or.jp/sitemap.html">サイトマップ</a></li>
                            <li class="clear"></li>
                        </ul>
                        <p><small>
                                &copy;&nbsp;Yokohama&nbsp;Motomachi&nbsp;Shopping&nbsp;Street&nbsp;Association.
                            &nbsp;All&nbsp;rights&nbsp;reserved.
                        </small></p>
                    </div>
                </div>
                <div class="area_4">
                    <a href="index.html#top"><img src="/Users/shiraishikeigo/hello-e/public/img/footer/btn_top.png" alt="ページトップへ"></a>
                </div>
            </footer>
                <!-- /footer -->

        </div>
            <!-- /contents -->

        <script type='text/javascript' src='../../../Desktop/www.motomachi.or.jp/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js'></script>
        <script type='text/javascript'>
        /* <![CDATA[ */
        var _wpcf7 = {"loaderUrl":"\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","sending":"\u9001\u4fe1\u4e2d ..."};
        /* ]]> */
        </script>
        <script type='text/javascript' src='../../../Desktop/www.motomachi.or.jp/wp-content/plugins/contact-form-7/includes/js/scripts.js'></script>

        <script type="text/javascript">
        (function () {
        var tagjs = document.createElement("script");
        var s = document.getElementsByTagName("script")[0];
        tagjs.async = true;
        tagjs.src = "//s.yjtag.jp/tag.js#site=B8FEbKR";
        s.parentNode.insertBefore(tagjs, s);
        }());
        </script>
        <noscript>
            <iframe src="https://b.yjtag.jp/iframe?c=B8FEbKR" width="1" height="1" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </noscript>

    </body>

</html>